---
import LinkBtn from "@components/_UI/LinkBtn/LinkBtn.astro";
import VideoCard from "@components/VideoCard/VideoCard.astro";
import VideoCategory from "@components/VideoCategory/VideoCategory.astro";
import { Sprite } from "astro-icon";
import OldSite from "src/layouts/OldSite.astro";
---

<OldSite>
  <a href="#" class="page-back">
    <Sprite name="chevron-left" />
     На главную раздела видео
  </a>
  <h1 class="block-title page-title">Инструкции “Склад 15”</h1>

  <div
    class="section-margin video-collection"
    data-hidden-list="6"
    data-hidden-count="6"
  >
    {
      [...new Array(15)].map(() => (
        <VideoCard
          subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
          text={false}
          poster="./img/video-2.png"
          data-item
        />
      ))
    }
    <LinkBtn class="video-collection__btn" data-hidden-btn>
      Смотреть больше
    </LinkBtn>
  </div>

  <VideoCategory title="Инструкции Магазин 15" clasName="section-margin">
    <VideoCard
      subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
      poster="./img/video-3.png"
      text={false}
    />
    <VideoCard
      subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
      poster="./img/video-3.png"
      text={false}
    />
    <VideoCard
      subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
      poster="./img/video-3.png"
      text={false}
    />
  </VideoCategory>

  <VideoCategory title="Инструкции Фабрика 15" clasName="section-margin">
    <VideoCard
      subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
      poster="./img/video-4.png"
      text={false}
    />
    <VideoCard
      subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
      poster="./img/video-4.png"
      text={false}
    />
    <VideoCard
      subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
      poster="./img/video-4.png"
      text={false}
    />
  </VideoCategory>
</OldSite>
