---
import VideoCard from "@components/VideoCard/VideoCard.astro";
import VideoCategory from "@components/VideoCategory/VideoCategory.astro";
import VideoDetail from "@components/VideoDetail/VideoDetail.astro";
import { Sprite } from "astro-icon";
import OldSite from "src/layouts/OldSite.astro";
---

<OldSite>
  <a href="#" class="page-back">
    <Sprite name="chevron-left" />
     На главную раздела видео
  </a>
  <VideoDetail />

  <div class="section-margin video-categories">
    <VideoCategory title="Другие истории успеха “Склад 15”">
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-6.jpeg"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-7.jpeg"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-8.jpeg"
      />
    </VideoCategory>
    <VideoCategory title="Инструкции “Склад 15”">
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-2.png"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-2.png"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-2.png"
      />
    </VideoCategory>
  </div>
</OldSite>
