---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import VideoCard from "@components/VideoCard/VideoCard.astro";
import VideoCategory from "@components/VideoCategory/VideoCategory.astro";
import VideoDetail from "@components/VideoDetail/VideoDetail.astro";
import { Sprite } from "astro-icon";
import OldSite from "src/layouts/OldSite.astro";
---

<OldSite>
  <a href="#" class="page-back">
    <Sprite name="chevron-left" />
     На главную раздела видео
  </a>
  <VideoDetail>
    <div class="video-detail-info">
      <h1 class="video-detail-info__title">
        Компания «АРХИО» автоматизирует учёт продукции на складе и на
        производстве
      </h1>
      <p class="video-detail-info__text">
        Начальник производства компании «АРХИО» отметил, что внедрение
        «Клеверенса» и ТСД позволило существенно сократить время выпуска
        из производства и перемещения продукции на склад, а также повысить
        прозрачность учёта.
      </p>
      <div class="video-detail-info__inner">
        <span class="video-detail-info__desc">
          Дмитрий Чимачев, Генеральный директор «Архио»
        </span>
        <span class="video-detail-info__date"> 10 сентября 2022</span>
      </div>
      <a href="#" class="video-detail-info__link">
        Скачать PDF или читать на сайте
      </a>

      <DefaultBtn class="video-detail__btn" component="a" href="#">
        Хочу так же
      </DefaultBtn>
    </div>
  </VideoDetail>

  <div class="section-margin video-categories">
    <VideoCategory title="Другие инструкции “Склад 15”">
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-5.png"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-5.png"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-5.png"
      />
    </VideoCategory>
    <VideoCategory title="Истории успеха “Склад 15”">
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-6.jpeg"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-7.jpeg"
      />
      <VideoCard
        subtitle="ДиКом | Автоматизированные системы хранения | Склад 15"
        text={false}
        poster="./img/video-8.jpeg"
      />
    </VideoCategory>
  </div>
</OldSite>
